.container {
  font-family: 'Kanit', sans-serif;
}
.display-section {
  width: 700px;
  position: relative;
  height: 700px;
  margin-bottom: 10px;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
.display-section img {
  width: 100%;
}
.text-area {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 6px;
}
.text {
  color: white;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.big {
  font-family: 'Kanit', sans-serif;
}
.small-line {
  line-height: 25px;
}
.small {
  text-shadow: 2px 2px 5px black;
  font-family: 'Kanit', sans-serif;
}
.template {
  width: 700px;
  height: 700px;
}
.caption {
  color: #999999;
  font-size: 15px;
  margin-top: 10px;
  text-align: center;
}
